@model List<WebApplicationProject2.Models.T1047>
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>CeRa-Test</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="/startbootstrap-modern-business-gh-pages/assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/startbootstrap-modern-business-gh-pages/css/styles.css" rel="stylesheet" />
</head>
<body class="d-flex flex-column">
    <main class="flex-shrink-0">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container px-5">
                <a class="navbar-brand" href="index.html">CeRa</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdownTest" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Tests</a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownTest">
                                <li><a class="dropdown-item" href="/Test/T1047">T1047</a></li>
                                <li><a class="dropdown-item" href="/Test/T1518">T1518</a></li>
                            </ul>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="/Test/TestResults">Test Result</a></li>
                        <li class="nav-item"><a class="nav-link" href="/Home/EditProfile">Edit profile</a></li>
                        <li class="nav-item"><a class="nav-link" href="/Home/AboutUs">About Us</a></li>
                        <li class="nav-item"><a class="nav-link" href="/Home/Contact">Contact</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdownAccount" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Account</a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownAccount">
                                <li><a class="dropdown-item" href="/Home/Login">Logout</a></li>
                                <li><a class="dropdown-item" href="/Home/Login">Login</a></li>
                                <li><a class="dropdown-item" href="/Home/Registration">Sign up</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Pricing section-->
        <section class="bg-light py-5">
            <div class="container px-5 my-5">
                <div class="text-center mb-5">
                    <h1 class="fw-bolder">See the results of test</h1>
                </div>
                <div class="row gx-5 justify-content-center">
                    <!-- Pricing card free-->
                    <div class="col-lg-6 col-xl-4">
                        <div class="card mb-5 mb-xl-0">
                            <div class="d-grid">
                                <input type="button" value="Get Results For T1047" id="T1047" class="btn btn-outline-primary" style="text-decoration:underline" onclick="@("window.location.href='" + @Url.Action("TestResultsT1047", "Test") + "'");" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row gx-5 justify-content-center">
                    <!-- Pricing card free-->
                    <div class="col-lg-6 col-xl-4">
                        <div class="card mb-5 mb-xl-0">
                            <div class="d-grid">
                                <input type="button" value="Get Results For T1518" id="T1518" class="btn btn-outline-primary" style="text-decoration:underline" onclick="@("window.location.href='" + @Url.Action("TestResultsT1518", "Test") + "'");" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <!-- Footer-->
    <footer class="bg-dark py-4 mt-auto">
        <div class="container px-5">
            <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                <div class="col-auto"><div class="small m-0 text-white">Copyright &copy; Your Website 2022</div></div>
                <div class="col-auto">
                    <a class="link-light small" href="#!">Privacy</a>
                    <span class="text-white mx-1">&middot;</span>
                    <a class="link-light small" href="#!">Terms</a>
                    <span class="text-white mx-1">&middot;</span>
                    <a class="link-light small" href="#!">Contact</a>
                </div>
            </div>
        </div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="/startbootstrap-modern-business-gh-pages/js/scripts.js"></script>
</body>
</html>

