@model IEnumerable<WebApplicationProject2.Models.T1047>
@{
    ViewBag.Title = "TestResultsT1047";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card-deck">
    @foreach (var i in Model.ToList())
    {
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">@i.CompanyName</h5>
                <p class="card-text">@i.AttackResult</p>
            </div>
        </div>
    }
</div>