
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>CeRa</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="/startbootstrap-modern-business-gh-pages/assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/startbootstrap-modern-business-gh-pages/css/styles.css" rel="stylesheet" />
</head>
<body class="d-flex flex-column h-100">
    <main class="flex-shrink-0">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container px-5">
                <a class="navbar-brand" href="index.html">CeRa</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdownTest" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Tests</a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownTest">
                                <li><a class="dropdown-item" href="/Test/T1047">T1047</a></li>
                                <li><a class="dropdown-item" href="/Test/T1518">T1518</a></li>
                            </ul>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="/Test/TestResults">Test Result</a></li>
                        <li class="nav-item"><a class="nav-link" href="/Home/EditProfile">Edit profile</a></li>
                        <li class="nav-item"><a class="nav-link" href="/Home/AboutUs">About Us</a></li>
                        <li class="nav-item"><a class="nav-link" href="/Home/Contact">Contact</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdownAccount" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Account</a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownAccount">
                                <li><a class="dropdown-item" href="/Home/Login">Logout</a></li>
                                <li><a class="dropdown-item" href="/Home/Login">Login</a></li>
                                <li><a class="dropdown-item" href="/Home/Registration">Sign up</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-5">
                <div class="row gx-5 align-items-center justify-content-center">
                    <div class="col-lg-8 col-xl-7 col-xxl-6">
                        <div class="my-5 text-center text-xl-start">
                            <h1 class="display-5 fw-bolder text-white mb-2">Welcome to CeRa for your safety</h1><br />
                            <p class="lead fw-normal text-white-50 mb-4">
                                Solutions are developed in the digital security world in order to
                                protect the rights and security of individuals, institutions, organizations and states against possible
                                attacks by cyber attackers.
                            </p>
                        </div>
                    </div>
                    <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center"><img class="img-fluid rounded-3 my-5" src="~/siberguvenlikk.jpg" alt="..." /></div>
                </div>
            </div>
        </header>
        <!-- Features section-->
        <section class="py-5" id="features">
            <div class="container px-5 my-5">
                <div class="row gx-5">
                    <div class="col-lg-4 mb-5 mb-lg-0"><h2 class="fw-bolder mb-0">Let's see what they mean.</h2></div>
                    <div class="col-lg-8">
                        <div class="row gx-5 row-cols-1 row-cols-md-2">
                            <div class="col mb-5 h-100">
                                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-collection"></i></div>
                                <h2 class="h5">What is Cyber ​​security?</h2>
                                <p class="mb-0">
                                    It is the practice of protecting computers, networks, software applications, critical systems, and data from potential digital threats. Organizations have a responsibility to secure data to maintain customer trust and meet regulatory compliance. They use cybersecurity measures and tools to protect sensitive data from unauthorized access as well as prevent disruption to business operations due to unwanted network activity.
                                </p>
                            </div>
                            <div class="col mb-5 h-100">
                                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-building"></i></div>
                                <h2 class="h5">What are the types of cyber security?</h2>
                                <p class="mb-0">A successful cybersecurity program includes educating employees on security best practices and leveraging automated cyber defense technologies for existing IT infrastructure. These components work together to create a multi-layered protection against potential threats on all data access points. They detect risks, protect identities, infrastructure and data, detect anomalies and activity, analyze and respond to root cause, and recover after an incident.</p>
                            </div>
                            <div class="col mb-5 mb-md-0 h-100">
                                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-toggles2"></i></div>
                                <h2 class="h5">What is Mitre Att&ck?</h2>
                                <p class="mb-0">
                                    Developed in 2013, Mitre Att&ck (Adversarial Tactics, Techniques and
                                    Common Knowledge) is a broad and detailed knowledge base that categorizes the attacker techniques and tactics against the threats that can be made to the system by observing the cyber-attacker behaviors.
                                </p>
                            </div>
                            <div class="col h-100">
                                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-toggles2"></i></div>
                                <h2 class="h5">Why is cyber security important?</h2>
                                <p class="mb-0">A successful cyberattack results in the disclosure, theft, deletion or alteration of confidential information. Cybersecurity measures defend against cyber attacks.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Testimonial section-->
        <div class="py-5 bg-light">
            <div class="container px-5 my-5">
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-10 col-xl-7">
                        <div class="text-center">
                            <div class="fs-4 mb-4 fst-italic">"There are only two types of companies: Those that have been hacked and those that will be hacked."</div>
                            <div class="d-flex align-items-center justify-content-center">
                                <img class="rounded-circle me-3" src="~/robertMueller.jpg" alt="..." />
                                <div class="fw-bold">
                                    Robert Mueller
                                    <span class="fw-bold text-primary mx-1">/</span>
                                    Former Director of the FBI
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Blog preview section-->
        <section class="py-5">
            <div class="container px-5 my-5">
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-8 col-xl-6">
                        <div class="text-center">
                            <h2 class="fw-bolder">From other words</h2>
                        </div>
                    </div>
                </div>
                <div class="row gx-5">
                    <div class="col-lg-4 mb-5">
                        <div class="card h-100 shadow border-0">
                            <img class="card-img-top" src="~/CyberPhoto.jpeg" alt="..." />
                            <div class="card-body p-4">
                                <div class="badge bg-primary bg-gradient rounded-pill mb-2">Words</div>
                                <p class="card-text mb-0">“Security is not something you buy, it is something you make, and it takes talented people to get it right.”</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-5">
                        <div class="card h-100 shadow border-0">
                            <img class="card-img-top" src="~/sibergüvenlik.jpeg" alt="..." />
                            <div class="card-body p-4">
                                <div class="badge bg-primary bg-gradient rounded-pill mb-2">Words</div>
                                <p class="card-text mb-0">“It takes 20 years to build a reputation and a few minutes of cyber incident to ruin it.”</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-5">
                        <div class="card h-100 shadow border-0">
                            <img class="card-img-top" src="~/signupphoto.jpg" alt="..." />
                            <div class="card-body p-4">
                                <div class="badge bg-primary bg-gradient rounded-pill mb-2">Words</div>
                                <p class="card-text mb-0">“The question is not whether it happened, but when.”</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <!-- Footer-->
    <footer class="bg-dark py-4 mt-auto">
        <div class="container px-5">
            <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                <div class="col-auto"><div class="small m-0 text-white">Copyright &copy; Your Website 2022</div></div>
                <div class="col-auto">
                    <a class="link-light small" href="#!">Privacy</a>
                    <span class="text-white mx-1">&middot;</span>
                    <a class="link-light small" href="#!">Terms</a>
                    <span class="text-white mx-1">&middot;</span>
                    <a class="link-light small" href="#!">Contact</a>
                </div>
            </div>
        </div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="/startbootstrap-modern-business-gh-pages/js/scripts.js"></script>
</body>
</html>

